# Copier ce fichier en .env et remplir les valeurs

# URL de connexion MongoDB
# Format local :  mongodb://localhost:27017/todoapp
# Format Atlas  : mongodb+srv://<user>:<password>@cluster.mongodb.net/todoapp
DATABASE_URL="mongodb://localhost:27017/todoapp"
